{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
        <br>
        <!-- Напишите свой код здесь (Вывод свойств объекта User) -->
        <h2>ID: {{user.id}}</h2>
        <p><strong>Name: </strong>{{user.username}}</p>
        <p><strong>Age: </strong>{{user.age}}</p>
        </article>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <!-- Напишите свой код здесь (перебор пользователей) -->
                        {% for user in users %}
                        <li><a href="/user/{{user.id}}">{{user.username}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
